<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>FoodAtlas</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS & JS-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Leaflet-Choropleth JavaScript -->
  <script type="text/javascript" src="static/js/choropleth.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

  <!-- The div where we will inject our map -->
  <div>
    <h3>Food Atlas Categories:</h3>
    <select id="categories">
      <option> SelectCategory</option>
      <option value="access"> Food Access</option>
      <option value="assistance"> Assistance</option>
      <option value="health"> Health</option>
      <option value="insecurity"> Insecurity</option>
      <option value="local"> Local</option>
      <option value="PRICES_TAXES"> Prices</option>
      <option value="restaurants"> Restaurants</option>

    </select>

    <h3>Food Access variables:</h3>
    <select id="selDataset">


    </select>
  </div>
  <br>

  <div id="map"></div>
  <div id="bar"></div>

  <!-- New scatter diagrams  -->
  <h1>Data Analysis</h1>
  <div>
    <h3>Food Atlas Categories:</h3>
    <select id="categories2">
      <option> SelectCategory</option>
      <option value="access"> Food Access</option>
      <option value="assistance"> Assistance</option>
      <option value="health"> Health</option>
      <option value="insecurity"> Insecurity</option>
      <option value="local"> Local</option>
      <option value="PRICES_TAXES"> Prices</option>
      <option value="restaurants"> Restaurants</option>

    </select>

    <h3>Food Access variables:</h3>
    <select id="selDataset2">


    </select>
  </div>

  <div>
    <h3>Food Atlas Categories:</h3>
    <select id="categories3">
      <option> SelectCategory</option>
      <option value="access"> Food Access</option>
      <option value="assistance"> Assistance</option>
      <option value="health"> Health</option>
      <option value="insecurity"> Insecurity</option>
      <option value="local"> Local</option>
      <option value="PRICES_TAXES"> Prices</option>
      <option value="restaurants"> Restaurants</option>

    </select>

    <h3>Food Access variables:</h3>
    <select id="selDataset3">


    </select>
  </div>
  <br>
  <div id="compare">
    <input name="updateButton" type="button" value="Compare Variables" onclick="updateData()" />
  </div>

  <br>
  <h2> Variable relationships</h2>
  <div id="scatter"></div>
  <h2>Side by Side Comparision</h2>
  <div id="scatter2"></div>


  <script type="text/javascript" src="static/js/logic.js"></script>

</body>

</html>